@using MarketOrder.Models;
@model List<ProductView>

@{
    ViewBag.Title = "Home Page";
}

@*
    <!--
     <div class="jumbotron">
     -->
    <!--
    <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select product
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            @foreach (var product in @Model)
            {
                <a class="dropdown-item" href="#">@product.Name</a>
            }
        </div>
    </div>
     -->
*@

@*
    <select>
        @foreach (var product in @Model)
        {
            <option>@product.Name</option>
        }
    </select>
    <input type="text" readonly="readonly" value="99.99">
*@

@*
    <!--
    <button type="button" class="btn btn-primary">Add</button>
    </div>
    -->
*@

@*
    <table border="1" class="table table-bordered table-responsive">
        <thead>
            <tr class="btn-primary">
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                </tr>
            }
        </tbody>
    </table>
*@
