@using MarketOrder.Models
@*@model IEnumerable<ProductView>*@
@model ProductModel

@{
    ViewBag.Title = "Index";
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/knockout-3.5.1.js")"></script> <!--TODO: Bundle-->

    <script type="text/javascript">

        function AppViewModel() {
            var self = this;

            //TODO: Move to VM
            self.Products = ko.observableArray();

            self.ProductVM = function (model) {
                var inner = this;

                //inner.Products = ko.observableArray();
                
                /*if (model) {
                    inner.Products.push.apply(inner.Products, model.products);
                }*/

                inner.item = ko.observable(model);

                //inner.name = ko.observable();
                inner.price = ko.observable();
                inner.discount = ko.observable();
                inner.total = ko.computed(function () {
                    var total = 0.0;
                    if (typeof (inner.item) != 'undefined' && inner.item() !== undefined) {
                        inner.price(inner.item().Price);
                        total = +inner.price() - +inner.discount();
                    }
                    return total.toFixed(2);
                });
            };

            /*
            self.SelectedItem = ko.observable();

            self.Price = ko.observable();
            self.Discount = ko.observable();

            self.Total = ko.computed(function () {
                if (typeof (self.SelectedItem) != 'undefined' && self.SelectedItem() !== undefined) {
                    var discount = +self.Discount();
                    if (isNaN(discount)) {
                        discount = 0.0;
                    }
                    var total = +self.Price() - discount;
                    return total.toFixed(2);
                }
                return 0.0;
            });

            self.SelectedItem.subscribe(function (data) {
                self.Price(data.Price);
            });*/

            //TODO: Move to VM
            self.Orders = ko.observableArray();

            self.OrderVM = function (name, price) {
                var inner = this;

                inner.name = ko.observable(name);
                inner.price = ko.observable(price);
                inner.count = ko.observable(1);
                inner.total = ko.computed(function () {
                    var total = +inner.price() * +inner.count();
                    return total.toFixed(2);
                });
            };

            self.vm = {
                Product: ko.observable({}),
            };

            //TODO: Stay here
            self.getProductsUrl = '/Product/List';
            self.init = function () {
                $.get(self.getProductsUrl, function (response) {
                    self.Products.push.apply(self.Products, response.products);

                    self.vm.Product(new self.ProductVM(self.Products[0]));
                    //Shipment
                });
            };

            self.addOrder = function () {
                self.Orders.push(new self.OrderVM(
                    self.vm.Product().item().Name,
                    self.vm.Product().total()));
            }

            self.removeOrder = function (order) {
                self.Orders.remove(order);
            }
        }

        $(document).ready(function () {
            var view = new AppViewModel();
            view.init();

            ko.applyBindings(view);
        });

    </script>
}

<h1>Making an order</h1>
<select data-bind="options: $root.Products, optionsText: 'Name', value: $root.vm.Product().item, optionsCaption: 'Choose...'"></select>
<input type="text" data-bind="value: $root.vm.Product().price">
<input type="number" value="" min="0.0" data-bind="value: $root.vm.Product().discount" placeholder="Discount" step="0.01" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$">
<input type="text" data-bind="value: $root.vm.Product().total">

<button data-bind="click: addOrder" class="btn btn-primary">Add</button>

<br>
<h1>New order</h1>
<table>
    <thead>
        <!--TODO: headers-->
    </thead>
    <tbody data-bind="foreach: $root.Orders">
        <tr>
            <td><div data-bind="text: $index"></div></td>
            <td><input data-bind="value: name" /></td>
            <td><input data-bind="value: price" /></td>
            <td><input type="number" value="" min="1" data-bind="value: count" placeholder="Count" step="1"></td>
            <td><input data-bind="value: total" /></td>
            <td><a href="#" data-bind="click: $root.removeOrder">Remove</a></td>
        </tr>
    </tbody>
</table>

<br>
<h1>Orders approved for shipment</h1>
<!--TODO: table-->
<!--TODO: total-->

<br>
<h1>Debug</h1>
<pre data-bind="text: JSON.stringify(ko.toJS($data), null, 2)"></pre>

