﻿@{
    ViewBag.Title = "Index";
}

@section Scripts {
    <script>
        $(document).ready(function () {
            MarketOrder.getProductsUrl = '@Url.Action("List", "Product")';
            MarketOrder.init();
            ko.applyBindings(MarketOrder.vm);
        });
    </script>
}

<h1>Making an order</h1>

<select data-bind="options: $root.Products, optionsText: 'Name', value: $root.Product().item, optionsCaption: 'Choose...'"></select>
<input type="text" data-bind="value: $root.Product().price">
<input type="number" value="" min="0.0" data-bind="value: $root.Product().discount" placeholder="Discount" step="0.01" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$">
<input type="text" data-bind="value: $root.Product().total">